{% extends 'base.html.twig' %}

{% block title %}{{'productNewTittle'|trans}}{% endblock %}

{% block body %}
    <h1>{{'productNewBody'|trans}}</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">{{'productNewBack'|trans}}</a>
{% endblock %}
